* {
    box-sizing: border-box;
   
    }
h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Lato', sans-serif;
}
 h2{
    font-size: x-large;
    font-weight: bolder;
    width: 50%;
    text-align: center;
    padding:20px 20px;
    font-family: 'Lato', sans-serif;
}
  body {
        padding: 15px;
        background-color: #ABA484;
    }
   header nav {
    background-color:#615D4B;
    }
    
  header nav img{
        margin-left:5%;
        padding: 20px;
        position: absolute;
    }  
header nav ul li:first-child {
    margin-left: 20%;
}
header nav ul li {
        display: inline-block;
        padding: 40px 60px;
        font-size: x-large;
        font-family: 'Lora', serif;
        color: aliceblue;       
}
#one {
image-rendering: auto;
margin-left: 30%;
padding: 25px;
}
a{
color: aliceblue;
        text-decoration: none;
}
a:hover{
    color: black;
}
h3{
    font-size: x-large;
    font-weight: bolder;
    width: 50%;
    text-align: center;
    padding:20px 20px;
    font-family: 'Lato', sans-serif;
}
article dl dt {
    padding: 10px;
    font-size: large;
    font-weight: bold;
    width: 50%;  
    margin-left: 15%;  
    font-family: 'Lora', serif;
    color: aliceblue;
}
article dl dd {
    padding: 6px;
    font-size: medium;
    font-weight: bold;
    width: 50%;
    margin-left: 15%;
    font-family: 'Lora', serif;
    color: aliceblue;
    
}
#fish{
    width: 400px;
    height: 400px;
    padding: 15px;
    float: right;
    margin-right: 15%;
    margin-top: 40px;
}
#cust {
    float: right;
    font-weight: bold;
    margin-right: 20%;
}
nav dl dd{
    padding: 6px;
    font-size: medium;
    font-family: 'Lora', serif;
    color: aliceblue;
}
nav dl dt {
    padding: 10px;
    font-size: large; 
    font-family: 'Lora', serif;
    color: aliceblue;
}
nav h2{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    padding:20px 20px;
    font-family: 'Lato', sans-serif;
   
}
#family{
    width: 400px;
    height: 400px;
    padding: 15px;
    margin-left: 15%;
}
section ul img{
    width: 200px;
    height: 200px;
    padding: 15px;
    margin-left: 15%;
}
section ul li
{
    font-size: larger;
   margin: 100px 0px 0 200px;
float: left;
}

footer{
    background-color:#615D4B;
}
 footer ul li{
    padding: 10px;
     width: 45%;
     margin: auto;
     color: white;
 }